<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Finances</title>
        <link rel="stylesheet" type="text/css" href="/base.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Jeremiah Franco">
        <meta name="description" content="Scholar Manager is a web application that 
        helps you keep track of your tuition sessions.">
    </head>
    <body>
        <header>
            <h1><a href="/index">SM</a></h1>
            <nav>
                <ul>
                    <li>
                        <a href="/index">Home</a>
                        <a href="/about">About</a>
                        <a href="/login">Login</a>
                        <a href="#">Finances</a>
                        <a id="signup" href="/signup">Sign Up</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Finances Page</h1>
            <h3>Finances</h3>
        </main>
        <footer>

        </footer>
    </body>
</html>