<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Finances</title>
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/media.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jeremiah Franco">
    <meta name="description" content="Scholar Manager is a web application that helps you keep track of your tuition sessions.">
</head>
<body>
    <header>
        <h1><a href="/index">SM</a></h1>
        <nav>
            <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
            <ul>
                <li>
                    <a href="/index">Home</a>
                    <a href="/about">About</a>
                    <a href="/finances">Finances</a>
                    <% if (!loggedIn) { %> <!-- Show Login and Sign Up if not logged in -->
                        <a href="/login">Login</a>
                        <a id="signup" href="/signup">Sign Up</a>
                    <% } else { %> <!-- Show Logout button if logged in -->
                        <form id="logout" action="/logout" method="POST">
                            <button type="submit">Logout</button>
                        </form>
                    <% } %>
                </li>
            </ul>
        </nav>
    </header>
    <main id="financesMain">
        <h1>Finances</h1>

        <!-- Display the balance -->
        <section id="finances">
            <section id="balance">
                <h2>Balance</h2>
                <p><strong>Current Balance:</strong> <%= balance%> </p>
        
                <!-- Form to submit a new balance -->
                <h2>Update Balance</h2>
            
                <section id="balanceForm">
                    <form action="/finances" method="POST">
                        <label for="balance">Balance:</label>
                        <input type="number" id="balance" name="balance" required>
                        <button type="submit">Submit</button>
                    </form>
                </section>
            </section>
            <section id="loans">
                <h2>Loans</h2>
        
                <!-- Form to submit a new loan -->
                <h2>Update Loans</h2>
            </section>
            <section id="income">
                <h2>Income</h2>
        
                <!-- Form to submit a new income -->
                <h2>Update Income</h2>
            </section>
                
        </section>
        
        <div class = "grid-container">
            <div class = "calculator-grid ">
                <textarea type="text" id = "inputtext" placeholder="0"></textarea>
                <button>C</button>
                <button>DEL</button>
                <button></button>
                <button>+</button>
                <button>7</button>
                <button>8</button>
                <button>9</button>
                <button>-</button>
                <button>4</button>
                <button>5</button>
                <button>6</button>
                <button>*</button>
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>/</button>
                <button>00</button>
                <button>0</button>
                <button>.</button>
                <button>=</button>
            </div>
        </div>
    </main>
    <footer>
    </footer>
    <script src="/menu.js"></script>
    <script src="/calc.js"></script>
</body>
</html>
