<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Finances</title>
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/media.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jeremiah Franco">
    <meta name="description" content="Scholar Manager is a web application that helps you keep track of your tuition sessions.">
</head>
<body>
    <header>
        <h1><a href="/index">SM</a></h1>
        <nav>
            <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
            <ul>
                <li>
                    <a href="#">Home</a>
                    <a href="/about">About</a>
                    <a href="/login">Login</a>
                    <a href="/finances">Finances</a>
                    <a id="signup" href="/signup">Sign Up</a>
                    <form id="logout" action="/logout" method="POST">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Your Finances</h1>

        <!-- Display the balance -->
        <p><strong>Current Balance:</strong> <%= balance%> </p>

        <!-- Form to submit a new balance -->
        <h2>Update Balance</h2>
        <form action="/finances" method="POST">
            <label for="balance">Balance:</label>
            <input type="number" id="balance" name="balance" required>
            <button type="submit">Submit</button>
        </form>
    </main>
    <footer>
    </footer>
    <script src="/menu.js"></script>
</body>
</html>
