<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Jeremiah Franco">
        <meta name="description" content="Scholar Manager is a web application that 
        helps you keep track of your tuition sessions.">
        <title>Home</title>
        <!-- <link rel="stylesheet" type="text/css" href="styles/base.css"> -->
        <link rel="stylesheet" type="text/css" href="/base.css">
        <link rel="stylesheet" type="text/css" href="/media.css">
    </head>
    <body>
        <header>
            <h1><a href="/index">SM</a></h1>
            <nav>
                <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
                <ul>
                    <li>
                        <a href="#">Home</a>
                        <a href="/about">About</a>
                        <a href="/finances">Finances</a>
                        <% if (!loggedIn) { %> <!-- Show Login and Sign Up if not logged in -->
                            <a href="/login">Login</a>
                            <a id="signup" href="/signup">Sign Up</a>
                        <% } else { %> <!-- Show Logout button if logged in -->
                            <form id="logout" action="/logout" method="POST">
                                <button type="submit">Logout</button>
                            </form>
                        <% } %>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="intro">
                <section id="info">
                    <h1>Scholar Manager</h1>
                    <p>Scholar Manager is a web application that 
                    helps you keep track of your tuition sessions. It 
                    allows you to keep track of your tuition sessions, 
                    and also allows you to keep track of your progress.</p>
                </section>
                <img src="/T.png" alt="Tuition">
            </section>
            <section id="why">
                <section>
                    <h1>Problems with College Finances?</h1>
                    <p>Take control of your budget and make every dollar count with our easy-to-use 
                        financial tracker! Say goodbye to financial stress and hello to smarter spending.</p>
                </section>
                <img src="/9547663730_0083484b1b-447243476.jpg" alt="Water">
            </section>
            <section id="how">
                <section>
                    <h1>How it Works</h1>
                    <p>It's simple and free. Just sign up and start tracking your tuition sessions.</p>
                    <button id="click" onclick="location.href='/signup'">Sign Up</button>
                </section>
                <img src="/happy-customers-2187237547.JPG" alt="Happy Customers">
            </section>
        </main>
        <footer>
            <p>&copy; 2024 Scholar Manager</p>
            <p>Jeremiah Franco</p>
        </footer>
        <script src="/menu.js"></script>
    </body>
</html>