<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="author" content="Jeremiah Franco">
        <meta name="description" content="Scholar Manager is a web application that 
        helps you keep track of your tuition sessions.">
        <title>Login</title>

        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/media.css">

    </head>
    <body>
        <header>
            <h1><a href="/index">SM</a></h1>
            <nav>
                <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
                <ul>
                    <li>
                        <a href="#">Home</a>
                        <a href="/about">About</a>
                        <a href="/login">Login</a>
                        <a href="/finances">Finances</a>
                        <a id="signup" href="/signup">Sign Up</a>
                        <form id="logout" action="/logout" method="POST">
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="form-container">
                <h2>Login</h2>
                <p id="message" class="message"></p>
                <form action="/login" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="username" placeholder="Enter your name" required autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Enter your password" required>
                    </div>
                    <button type="submit" class="submit-btn">Login</button>
                </form>
                <p>Don't have an account? <a href="/signup">Signup</a></p>
            </div>
        </main>
        
        <footer>
            <p>&copy; 2024 Scholar Manager</p>
            <p>Jeremiah Franco</p>
        </footer>
        <script src="/success.js"></script>
        <script src="/menu.js"></script>
    </body>
</html>