<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="author" content="Jeremiah Franco">
        <meta name="description" content="Scholar Manager is a web application that 
        helps you keep track of your tuition sessions.">
        <title>Signup</title>

        <!-- <link rel="stylesheet" href="/style.css"> -->
        <link rel="stylesheet" href="/base.css">
        <link rel="stylesheet" href="/media.css">
        <link rel="icon" type="image/png" href="/moneyIcon.webp">

    </head>
    <body>
        <header>
            <h1><a href="/index">SM</a></h1>
            <nav>
                <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
                <ul>
                    <li>
                        <a href="/index">Home</a>
                        <a href="/about">About</a>
                        <a href="/finances">Finances</a>
                        <% if (!loggedIn) { %> <!-- Show Login and Sign Up if not logged in -->
                            <a href="/login">Login</a>
                            <a id="signup" href="/signup">Sign Up</a>
                        <% } else { %> <!-- Show Logout button if logged in -->
                            <form id="logout" action="/logout" method="POST">
                                <button type="submit">Logout</button>
                            </form>
                        <% } %>
                    </li>
                </ul>
            </nav>
        </header>
        <main id="signupMain">
            <div class="form-container">
                <h2>Signup</h2>
                <form action="/signup" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="username" placeholder="Enter your name" required autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Enter your password" required>
                    </div>
                    <button type="submit" class="submit-btn">Signup</button>
                </form>
            </div>
        </main>
        
        <footer>
            <p>&copy; 2024 Scholar Manager</p>
            <p>Jeremiah Franco</p>
        </footer>
        <script src="/menu.js"></script>
    </body>
</html>