@media screen and (max-width: 600px) {
    header {
        padding: 1rem;
    }

    #intro img {
        display: none;
    }

    #why {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
    }
    #why h1{
        width: auto;
        text-align: center;
    }
    #why p {
        width: auto;
        text-align: center;
    }

    #why img {
        margin: 1rem;
    }

    #how {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 1rem;
        margin-top: 1rem;
    }

    #how h1 {
        width: auto;
        text-align: center;
    }

    #how p {
        width: auto;
        text-align: center;
    }

    #how img {
        width: 100%;
        padding: 1rem;
        border-radius: 5px;
    }

    /* nav li a {
        padding: 0.5rem;
    } */

    nav ul {
        display: none;
        flex-direction: column;
        background-color: white; /* Optional: Add a background for better visibility */
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
        /* padding: 2rem; */
    }
    .hamburger {
        display: block; /* Show the hamburger icon */
    }

    nav ul.active {
        display: flex; /* Show menu when active class is added */
    }

    nav ul li {
        margin: 25px 0; /* Stack the menu items vertically */
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    nav ul li a {
        padding: 1rem;
    }

    #signup {
        width: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    #click {
        margin: 0;
        margin-left: auto;
    }
    
    #intro {
        padding: 1rem;
    }

    #intro h1 {
        text-align: center;
    }

    #intro p {
        padding: 1rem;
        text-align: center;
        font-size: 35px;
    }

    #who {
        height: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #we {
        width: 100%;
    }
    #who img {
        width: 100%;
        /* object-fit: none; */
    }
    #mission {
        height: auto;
        max-height: none;
        flex-direction: column;
    }
    #mission img {
        width: 100%;
    }

    #miss {
        width: 100%;
    }
}